html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: black;
}

::-webkit-scrollbar {
    width: 4px;
}

.task-container::-webkit-scrollbar-track {
    display: none
}

::-webkit-scrollbar-thumb {
    position: absolute;
    background-color: #888;
    border-radius: 20px;
}